
body {
    background-color: #222;
}

.Player{
    padding-top: 7vh;
    padding-left: 30vh;
    display: flex;
}

.playerkaClass{
    border: none;
    border-radius: 2%;
}

.episodeContainerButton{
    padding-top: 5vh;
    padding-left: 30vh;
    width: 150vh;
}

.episodeContainerButton{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vh;
}

.episodeButtonClass{
    width: 50px;
    height: 25px;
    background-color: lightgreen;
    border-radius: 5px;
    border: none;
}

.episodeButtonClass:hover{
    background-color: rgb(0, 255, 200);
    transform: scaleY(1.1);
    transform: scaleX(1.1);
}

.trailer-container {
    max-width: 1024px;
    margin: auto;
}

.container {
    background: #000;
    position: relative;
    border-top: 3px solid #888;
    margin: 5%;
    padding: 2% 2% 4% 2%;
    border-radius: 10px;
    border-bottom-left-radius: 50% 2%;
    border-bottom-right-radius: 50% 2%;
    transition: margin-right 1s;
}

.container:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 3%;
    left: 36%;
    height: .5%;
    width: 28%;
    background: #ddd;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 white;
}

.monitor-screen {
    position: relative;
    background-color: #777;
    background-size: cover;
    background-position: top center;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.monitor-screen iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media all and (min-width: 960px) {
    .container {
        animation: tvflicker .5s infinite alternate;
    }
}

@keyframes tvflicker {
    0% {
        box-shadow: 0 0 100px 0 rgba(225, 235, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 60px 0 rgba(200, 220, 255, 0.6);
    }
}
